:root {
	--jr-red: #fa0559;
	--jr-purple: #a93199;
	--jr-green: #43c0ac;
	--jr-yellow: #eaec96;
}

body {
	margin: 0;
	font-family: "Abel", monospace;
}

/*SVG*/

svg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.red {
	/*fill: var(--jr-red);*/
}

.green {
	/*fill: var(--jr-green);*/
}

.yellow {
	fill: var(--jr-yellow);
}

.greenPicture {
	fill:url(#greenPattern);
	opacity: 0.2;
}

.redPicture {
	fill:url(#redPattern);
	opacity: 0.2;
}

/*Container*/

#container {
	height: 100vh;
	width: 100vw;
	margin: 0;
}

/*Menu*/

nav {
	background: var(--jr-yellow);
	color: var(--jr-purple);
	font-size: 4rem;
	letter-spacing: 20px;
	position: absolute;
	padding: 1.5vh 5vw;
	margin: 0 auto;
	overflow: hidden;
	z-index: 10;
}

.menuItem {
	list-style: none;
	cursor: pointer;
}

#arrow {
	display: inline-block;
	transition: transform 150ms linear;
}

.menuItem:hover {
	mix-blend-mode: hue;
	font-style: italic;
}


nav:hover #arrow {
	transform: rotate(90deg) translate(10%,10%);
}

/*Content*/

#red {
	position: absolute;
	top: 0;
	left: 0;
}

#red .polygon {
  float: right;
  shape-outside: polygon(39% 100%, 59% 0%, 100% 0%, 100% 100%);
  clip-path:     polygon(39% 100%, 59% 0%, 100% 0%, 100% 100%);
  height: 100vh;
  width: 100vw;
}

#red .text {
	text-align: right;
	padding-left: 20%;
	padding-top: 15vh;
}

#green {
	position: absolute;
	top: 0;
	left: 0;
}

#green .polygon {
  float: left;
  shape-outside: polygon(41% 100%, 61% 0%, 0% 0%, 0% 100%);
  clip-path:     polygon(41% 100%, 61% 0%, 0% 0%, 0% 100%);
  height: 100vh;
  width: 100vw;
}

#green .text {
	padding-right: 20%;
}

/*Image stuff*/

img {
	max-width: 40vw;
	height: auto;
	position: absolute;
	mix-blend-mode: saturation;
	z-index: 0;
}

#red img {
	right: 0;
	top: 77px;
	clip-path: url(#racket-clip);
}

#green img {
	left: 0;
	bottom: 0;
	clip-path: url(#jam-clip);
}