:root {
	--jr-red: #fa0559;
	--jr-purple: #a93199;
	--jr-green: #43c0ac;
	--jr-yellow: #eaec96;
}

body {
	margin: 0;
	font-family: "Abel", sans-serif;
}

/*HERO*/

#container {
	height: 100vh;
	width: 100vw;
	margin: 0;
	/*background-color: var(--jr-green);*/
}

svg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.jam {
	fill: var(--jr-red);
}

.racket {
	fill: var(--jr-green);
}

.yellow {
	fill: var(--jr-yellow);
}

.menu {
	background: var(--jr-yellow);
	color: var(--jr-purple);
	font-size: 4rem;
	letter-spacing: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 1rem 3rem;
	margin: 0 auto;
	transform: translateY(-50%) translateX(-50%);
	overflow: hidden;
	box-shadow: 10px 10px;
	height: 77px;
	transition: all 300ms ease-in;
	z-index: 10;
	width: 70vw;
}

.menuActive {
	height: 410px;
}

.menuTop {
	top: 0;
	left: 0;
	transform: translateY(0);
	box-shadow: 0px 10px;
	width: calc(100vw - 6rem);
}

.menu li {
	list-style: none;
	cursor: pointer;
}

#arrow {
	display: inline-block;
	transition: transform 150ms linear;
}

.menu li:hover {
	mix-blend-mode: hue;
}

#dividerText:hover {
	animation: divTxtHvr 300ms ease-out forwards;
}

.menu:hover #arrow {
	transform: rotate(90deg) translate(10%,10%);
}

@keyframes divTxtHvr {
	0% {height: 10vh;}
	100% {height: 50vh;}
}

#green {
	position: absolute;
	top: 0;
	left: 0;
}

#green .polygon {
  float: right;
  shape-outside: polygon(39% 100%, 59% 0%, 100% 0%, 100% 100%);
  clip-path:     polygon(39% 100%, 59% 0%, 100% 0%, 100% 100%);
  height: 100vh;
  width: 100vw;
}

#green .text {
	text-align: right;
	padding-left: 20%;
	padding-top: 150px;
}

#green img {
	left: 0;
	bottom: 0;
	/*clip-path: url(#jam-clip);*/
}

#red {
	position: absolute;
	top: 0;
	left: 0;
}

#red .polygon {
  float: left;
  shape-outside: polygon(41% 100%, 61% 0%, 0% 0%, 0% 100%);
  clip-path:     polygon(41% 100%, 61% 0%, 0% 0%, 0% 100%);
  height: 100vh;
  width: 100vw;
}

#red .text {
	padding-right: 20%;
	padding-bottom: 150px;
}

img {
	max-width: 40vw;
	height: auto;
	position: absolute;
	mix-blend-mode: saturation;
	z-index: 0;
}

#red img {
	right: 0;
	top: 77px;
	/*clip-path: url(#racket-clip);*/
}